ul {
	list-style-type: none;
}
body {
	font-family: Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.welcome {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-image: url(img/welcome.png);
	background-position: center;
	color: rgb(228, 230, 230);
	height: 100vh;
}
.welcome__header {
	align-items: flex-start;
	margin: 100px 50px 50px 50px;
}
.welcome__input__container {
	display: flex;
	flex-direction: column;
	margin: 50px 0 50px 50px;
}

.welcome__input {
	margin-top: 30px;
	padding: 5px;
	width: 250px;
	border: none;
	border-radius: 5px;
	text-align: center;
	outline: none;
}
.welcome__submit {
	display: flex;
	justify-content: center;
	text-decoration: none;
	margin-top: 50px;
}
.welcome__submit__button {
	width: 200px;
	padding: 5px;
	text-align: center;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	color: gray;
	transition: .1s ease-in-out;
}
.welcome__submit__button:hover {
	color: #096f84;
	transform: scale(1.2);
}

.calendar {
	/* display: none; */
	flex-direction: column;
	height: 100vh;
}
.calendar__header {
	margin-bottom: 50px;
}

.month__current__month {
	padding-top: 50px;
}
/* Month header */
.month {
	background: #057587;
	text-align: center;
	min-height: 10vh;
}

/* Month list */
.month ul {
	padding: 76px 10px 0 10px;
	margin: 0;
	text-decoration: none;
}

.month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.your__habit {
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
	float: left;
	padding: 10px 10px;
	cursor: pointer;
}

/* Next button */
.month .next {
	float: right;
	padding: 10px 10px;
	cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 10px 10px;
	background-color: #ddd;
}

.weekdays li {
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
}

/* Days (1-31) */

.days {
	background: #eee;
	margin: 0px;
	padding-left: 0px;
	padding: 10px 10px;
}

.days__li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	padding: 10px 0px;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	color: #777;
	transition: .2s ease-in-out;
	cursor: pointer;
}
.days__li__previus {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	padding: 10px 0px;
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	transition: .2s ease-in-out;
	cursor: pointer;
	color: lightgrey;
}

/* Highlight the "current" day */
.days li .active__day {
	padding: 5px;
	background: #1abc9c;
	border-radius: 50%;
}
.habit__active {
	height: 25px;
	margin: 5px;
	background-color: RGBA(111, 216, 80, 0.65);
	border-radius: 5px;
}
